.chart {
  border-radius: 10px;
  padding: 0 15px;
  position: relative;
  min-height: 200px;
  margin: 15px auto;
  width: 96%;
  box-sizing: border-box;
  /* background-color: #fff; */
  overflow: hidden;
}

@media only screen and (min-width: 601px) {
  #DonutTicketsByDepartment {
    width: 200px;
    float: right;
  }

  #TicketByDepartmentLegends {
    display: block;
    margin-right: 250px;
    list-style-type: none;
  }

  .title {
    display: block;
    margin-right: 150px;
  }
  .author {
    float: right;
    width: 150px;
  }
  .lt {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .chart {
    text-align: center;
  }

  #DonutTicketsByDepartment {
    width: 200px;
    margin: 0 auto;
    float: none;
  }

  #TicketByDepartmentLegends {
    list-style-type: none;
    padding-top: 0px !important;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
  }

  .title,
  .author {
    display: block;
    text-align: center;
  }
  .author {
    margin-top: 5px;
  }
  .lt {
    display: block;
  }
  .rt {
    display: none;
  }
}

#TicketByDepartmentLegends li {
  margin-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #000;
}

#TicketByDepartmentLegends li span.icon {
  width: 22px;
  height: 22px;
  float: left;
}

#TicketByDepartmentLegends li span.label {
  display: block;
  margin-left: 30px;
  font-size: 15px;
  line-height: 22px;
}
