.focus_none:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card_custom {
  min-width: 400px;
  background-color: aqua;
  padding: 5% 3%;
  border-radius: 10px;
  text-align: center;
}

.btn_red {
  background-color: red;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}

.btn_green {
  background-color: green;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 700;
  width: 100%;
}

p {
  font-size: 25px;
  font-weight: 700;
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.6;
}

.card_box {
  box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  padding: 2%;
}

#number {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fafafa;
  padding: 5px 20px;
  border-radius: 5px;
}

input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* 
span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-height: 50px;
  max-width: 20%;
  margin: 5px;
  padding: 10px;
  background: linear-gradient(97.42deg, #128dff -4.95%, #1444ef 109.04%);
  color: white;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
} */

.height-100px {
  height: 100px;
}

.bg-light-pink {
  background-color: pink;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.box {
  border: 2px solid blue;
  padding: 20px;
  border-radius: 5px;
}

.select {
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 5px;
  appearance: none;
}

.select_container {
  position: relative;
}

.select_container::after {
  content: "";
  position: absolute;
  right: 4%;
  top: 50%;
  transform: rotate(0deg) translateY(-50%);
  height: 20px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/25/25623.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  width: 20px;
}

.shadoww {
  box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}

.border_radius {
  border-radius: 10px;
  padding: 20px;
}

.animate::after {
  transform: rotate(180deg) translateY(50%);
}

.accordion {
  background-color: pink;
  color: blue;
  font-family: poppins;
  transition: all 0.5s ease;
}

.br_10 {
  border-radius: 10px;
}

.br_50 {
  border-radius: 50%;
}

body {
  margin: 0;
}

/*========================== SIDEBAR CSS ==========================*/
.btn_sidebar {
  background: linear-gradient(97.42deg, #128dff -4.95%, #1444ef 109.04%);
  color: white;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 10px 30px;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  padding: 40px 30px;
  height: 100vh;
  box-shadow: 9px 4px 26px 0px rgba(0, 0, 0, 0.06);
  background-color: palegoldenrod;
  border-radius: 0 20px 20px 0;
  transition: all 0.3s ease;
}

#sidebar-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.active-sidebar #sidebar-overlay {
  width: 100%;
}

.active-sidebar .sidebar {
  left: 0;
}

input:focus {
  outline: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 575.98px) {
  /* .sidebar {
    position: absolute;
    left: -100vw;
    width: 100vw;
    border-radius: 0;
  } */
}

.accordian_child {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  overflow: hidden;
}

.active-accoridian .accordian_child {
  height: auto;
  opacity: 1;
  transition: all 0.5s ease;
  pointer-events: all;
}

.delete_btn {
  cursor: pointer;
}

.custom_answer {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 15px;
}

.border_gray {
  border: 1px solid gray;
}

.blue_btn {
  background: linear-gradient(97.42deg, #128dff -4.95%, #1444ef 109.04%);
  border-radius: 4px;
  color: white;
  border: 1px solid transparent;
  padding: 10px 30px;
  min-width: 150px;
}

.blue_btn:hover {
  background: green;
}

.border_btn {
  background: transparent;
  border-radius: 4px;
  color: #1444ef;
  border: 1px solid transparent;
  padding: 8px 30px;
  min-width: 150px;
}

.border_btn:hover {
  border: 1px solid green;
  padding: 10px 30px;
  color: green;
}

.gradient_border {
  border: 3px solid;
  border-image-source: url("./border_img.png");
  border-image-repeat: round;
  border-image-slice: 3;
}

@media (max-width: 767.98px) {
  .blue_btn {
    min-width: 100%;
  }
  .border_btn {
    min-width: 100%;
  }
}
